.page {
	&__about-company {

	}
}
.about-company {
	&__container {
		margin-bottom: toRem(20);
	}
	&__title {
		text-align: center
	}
	&__subtitle {
		text-align: center
	}
	&__image {
		max-width: toRem(700);
		width: 100%;
		margin-bottom: toRem(10);
	}
	&__image-container {
		max-width: toRem(310);
		height: toRem(190);
		width: 100%;
		position: relative;
		display: flex;
		justify-content: center;
		margin-bottom: -15px;
	}
	&__image-top {
		max-width: toRem(170);
		position: absolute;
		right: toRem(-32);
		top: toRem(-25);
		@media (max-width: em(400)){
			max-width: toRem(150);
			right: toRem(-15);
			top: toRem(-20);
		}
	}
	&__image-bottom {
		max-width: toRem(280);
		position: absolute;
		bottom: 0;
		left: toRem(-40);
		@media (max-width: em(400)){
			max-width: toRem(260);
			left: toRem(-20);
		}
	}
	&__list {
		&>* {
			margin-top: toRem(10);
			gap: toRem(5);
			display: flex;
			flex-direction: column;
			align-items: start;
			padding-left: toRem(10);
			position: relative;
			&::before {
				content: "";
				position: absolute;
				left: 0;
				top: 6px;
				width: toRem(5);
				height: toRem(5);
				border-radius: 50%;
				background-color: #333;
			}
		}
	}
	&__buttons-block {
	}
}

.about-company-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap:toRem(5);
	background-color: #FFFFFF;
	padding: toRem(15);
	border-radius: toRem(15);
}
