.post-request-vacancy-page {
		height: 100%;
		max-width: 767.98px;
		top: 0;
		left: 0;
		&__chat-container {
			height: 100%;
			width: 768px;
			position: relative;
		}
		&__main-container {
			height: 100%;
			width: 100%;
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: end;
		}
		&__messages-container {
			width: 100%;
			display: block;
			max-height: 100%;
			height: 100%;
			flex-direction: column;
			justify-content: end;
			position: absolute;
			z-index: 1;
			gap: toRem(10);
			overflow-y: scroll;
			height: 100%;
			&::-webkit-scrollbar {
				width: 0.5em; /* Ширина полосы прокрутки */
			}
			&::-webkit-scrollbar-thumb {
					background-color: transparent; /* Цвет бегунка (перемещаемой части) */
			}
			&::-webkit-scrollbar-track {
					background-color: transparent; /* Цвет фона полосы прокрутки */
			}
		}
		&__input-container {
			position: absolute;
			height: auto;
			width: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: toRem(10) toRem(15);
			gap: toRem(15);
			background-color: #FFFFFF;
			transition: all 0.3s ease 0s;
			z-index: 5;
			@media (min-width:$mobile){
				border-radius: 100px;
				transition: all 0.3s ease 0s;
			}
		}
		&__input {
			width: 100%;
			height: 100%;
			padding: toRem(7) toRem(15);
			outline: none;
			font-size: toRem(18);
			border: 1px solid rgba(0, 0, 0, 0.20);
			border-radius: 100px;
			background-color: inherit;
		}
		&__send-message {

		}
		&__send-message-image {
			max-height: toRem(30);
			padding-right: toRem(5);
			// filter: invert(100%) sepia(0%) saturate(7460%) hue-rotate(92deg) brightness(113%) contrast(109%);
			filter: invert(80%) sepia(65%) saturate(2048%) hue-rotate(3deg) brightness(106%) contrast(109%);
		}

		&__phone-input-container {
			position: absolute;
			height: auto;
			width: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: toRem(10) toRem(15);
			gap: toRem(15);
			background-color: #FFFFFF;
			transition: all 0.3s ease 0s;
			z-index: 4;
			@media (min-width:$mobile){
				border-radius: 100px;
				transition: all 0.3s ease 0s;
			}
			&:first-child {
				width: 100%;
			}
		}
		&__phone-input {
			width: 100%;
			height: 100%;
			padding: toRem(7) toRem(15);
			outline: none;
			font-size: toRem(18);
			border: 1px solid rgba(0, 0, 0, 0.20);
			border-radius: 100px;
			background-color: inherit;
		}
		&__send-phone {

		}
		&__send-phone-image {
			max-height: toRem(30);
			padding-right: toRem(5);
			// filter: invert(100%) sepia(0%) saturate(7460%) hue-rotate(92deg) brightness(113%) contrast(109%);
			filter: invert(80%) sepia(65%) saturate(2048%) hue-rotate(3deg) brightness(106%) contrast(109%);
		}

		&__date-input-container {
			position: absolute;
			height: auto;
			width: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: toRem(10) toRem(15);
			gap: toRem(15);
			background-color: #FFFFFF;
			transition: all 0.3s ease 0s;
			z-index: 4;
			@media (min-width:$mobile){
				border-radius: 100px;
				transition: all 0.3s ease 0s;
			}
		}
		&__date-input {
			width: 100%;
			height: 100%;
			padding: toRem(7) toRem(15);
			outline: none;
			font-size: toRem(18);
			border: 1px solid rgba(0, 0, 0, 0.20);
			border-radius: 100px;
			background-color: inherit;
			&:hover {
				cursor: pointer;
			}
		}
		&__send-date {

		}
		&__send-date-image {
			max-height: toRem(30);
			padding-right: toRem(5);
			// filter: invert(100%) sepia(0%) saturate(7460%) hue-rotate(92deg) brightness(113%) contrast(109%);
			filter: invert(80%) sepia(65%) saturate(2048%) hue-rotate(3deg) brightness(106%) contrast(109%);
		}
}

.answers-variants-container {
	display: flex;
	flex-direction: column;

}

.answers-to-quetion-container {

}

.question-variant {
	border: 3px solid transparent;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	&:hover {
		transition: all 0.3s ease 0s;
		background-color: rgba($color: $mainYellow, $alpha: 0.6);
		border: 3px solid $mainYellow;
	}
	& span {
		font-weight: 600;
	}
}

.add-resume-container {
	padding: 10px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: toRem(10);
	font-size: toRem(15);
}

.add-resume-file-button {
	min-height: 41.97px;
	width: 100%;
	border: 2px dashed rgba($color: #000000, $alpha: 0.3);
	border-radius: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: toRem(10);
	transition: all 0.3s ease 0s;
	&:hover {
		transition: all 0.3s ease 0s;
		background-color: rgba($color: $mainYellow, $alpha: 0.7)
	}
}

.add-resume-choose-image {
	max-width: toRem(20);
}

.add-resume-file-image {
	max-width: toRem(20);
}

.add-resume-choose-text {

}

.save-delete-resume-buttons-container {
	width: 100%;
	display: flex;
	gap: toRem(10);
	&>* {
		width: 100%;
		background-color: #fff;
		min-height: 41.97px;
		border-radius: 100px;
		border: 1px solid rgba($color: #000000, $alpha: 0.15);
		display: flex;
		align-items: center;
		justify-content: center;
		gap: toRem(10);
		& img {
			max-width: toRem(17);
		}
	}
}

.delete-resume-button {
	transition: all 0.3s ease 0s;
	&:hover {
		border: 1px solid rgba($color: red, $alpha: 0.4);
		// background-color: rgba($color: red, $alpha: 0.4);
		transition: all 0.3s ease 0s;
	}
}

.save-resume-button {
	transition: all 0.3s ease 0s;
	&:hover {
		border: 1px solid rgba(35, 212, 0, 0.7);
		transition: all 0.3s ease 0s;
		// background-color: rgba($color: greenyellow, $alpha: 0.7);
	}
	& img {
		filter: invert(45%) sepia(87%) saturate(1085%) hue-rotate(89deg) brightness(95%) contrast(106%);
	}
}

.skip-resume-button {
	margin-top: -10px;
	border: 1px solid rgba($color: #000000, $alpha: 0.15);
	background-color: rgba(245, 245, 245, 1);
	width: 100%;
	min-height: 41.97px;
	border-radius: 100px;
	transition: all 0.3s ease 0s;
	&:hover {
		transition: all 0.3s ease 0s;
		background-color: rgba($color: $mainYellow, $alpha: 0.7)
	}
}

.hidden-file-buttons {
	display: none;
}

.padding-message-container-chat {
	padding: toRem(15) toRem(5) toRem(140) toRem(5);
	transition: all 0.3s ease 0s;
}

.padding-message-container-final {
	padding: toRem(15) toRem(5) toRem(30) toRem(5);
	transition: all 0.3s ease 0s;
}

.show-final-message {
	animation: finalMessageContainerShowEffect 0.3s ease;
}

@keyframes finalMessageContainerShowEffect {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}



.iti {
	width: 100%;
	&__flag-container {
		padding-left: toRem(10);
	}
	&__dropdown-content {
		display: none;
	}
	&__country-list {
		display: none;
	}
	&__arrow {
		display: none;
	}
}

.main-message-style {
	padding: toRem(10) toRem(15);
	width: auto;
	border-radius: 20px;
	font-size: toRem(15);
	line-height: 110%;
	margin-top: toRem(10);
}

.bot-message-animation {
	animation: chatMessageEffect 0.7s ease;
}

.app-message {
	background-color: $mainYellow;
	max-width: 80%;
	text-align: left;
	&__container {
		width: 100%;
		display: flex;
		justify-content: start;
	}
}

.user-message {
	background-color: rgba(255, 229, 61, 0.3);
	max-width: 80%;
	text-align: right;
	&__container {
		width: 100%;
		display: flex;
		justify-content: end;
	}
}

.final-message {
	margin-top: toRem(10);
	background-color: $mainYellow;
	max-width: 80%;
	text-align: center;

	&__container {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: toRem(10);
	}
	&__button {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: toRem(10);
	}
}

@keyframes chatMessageEffect {
	0% {
		transform: translate(0, 100vh);
		transition: all 0.3s ease 0s;
	}
	100% {
		height: auto;
		transform: translate(0, 0);
		transition: all 0.3s ease 0s;
	}
}

.input-visible {
	margin-bottom: 0vh;
	display: flex;
}

.input-hidden {
	display: none;
	visibility: hidden;
}

.input-hidden-animation {
	animation: inputContainerHiddenEffect 0.3s ease;
}
@keyframes inputContainerHiddenEffect {
	0% {
		
	}
	100% {
		margin-bottom: -10vh;
	}
}

.input-show-animation {
	animation: inputContainerShowEffect 0.3s ease;
}
@keyframes inputContainerShowEffect {
	0% {
		margin-bottom: -10vh;
	}
	100% {
		margin-bottom: 0vh;
	}
}

.change-number-container {
	display: flex;
	flex-direction: column;
	margin-top: toRem(10);
	gap: toRem(10);
	font-size: toRem(16);
	padding: toRem(0) toRem(10);
	&>* {
		font-size: toRem(16);
	}
}

.phone-buttons-hidden-animations {
	animation: inputButtonsHiddenAnimations 0.3s ease;
}
@keyframes inputButtonsHiddenAnimations {
	0% {
		opacity: 1;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

.phone-buttons-show-animations {
	animation: inputButtonsShowAnimations 0.3s ease;
}
@keyframes inputButtonsShowAnimations {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.page-chat-height {

}

.main-error-style {
	padding: toRem(10) toRem(15);
	border: 2px dashed red;
	background-color: rgba($color: #ff0000, $alpha: 0.1);
	margin-top: toRem(10);
	border-radius: toRem(30);
	font-weight: 500;
	text-align: center;
}

._hidden-error-messages {
	display: none;
}

