
.check-request-vacancy-page {
		&__container {
			display: flex;
			flex-direction: column;
			gap: toRem(20);
			height: 100%;
			width: 100%;
			padding: toRem(25) toRem(15);
		}
		&__items-container {
			display: flex;
			flex-direction: column;
			gap: toRem(10);
			background-color: rgba($color:#FFFFFF, $alpha: 0.95);
			border-radius: 10px;
			padding: toRem(10);
		}
		&__check-item {
			width: 100%;
			display: flex;
			align-items: center;
			gap: toRem(10);
			align-items: end;
			position: relative;
			padding: toRem(10) toRem(15) toRem(10) toRem(15);
			border-radius: 10px;
			color: #000;
			line-height: 120%;
			@media (max-width: em(500)){
				padding: toRem(10) toRem(5) toRem(10) toRem(5);
			}

		}
		&__check-question {
			color: #000;
			display: flex;
			align-items: center;
			min-height: toRem(20);
		}
		&__check-input {
			position: relative;
			margin-top: toRem(5);
			width: 100%;
			background-color: transparent;
			outline: none;
			color: #000;
			&:disabled {
				color: #666;
			}
		}
		&__question-input-container {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 100%;
		}
		&__edit-button {
			height: 100%;
		}
		&__edit-button-image {
			max-width: toRem(25);
		}
		&__politics-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: toRem(10);
		}
		&__politics-checkbox-label {
			display: flex;
			gap: toRem(7);
			align-items: center;
			width: 100%;
			justify-content: center;
			@media (max-width: em(500)){
				padding: toRem(0) toRem(20);
			}
		}
		&__politics-label {
			font-size: toRem(16);
			@media (max-width: em(500)){
				display: flex;
				justify-content: center;
				text-align: center;
				font-size: toRem(15);
			}
			&:hover {
				cursor: pointer;
			}
		}
		&__politics-input {
			&:hover {
				cursor: pointer;
			}
		}
		&__politics-message {
			width: 100%;
			padding: toRem(5);
			text-align: center;
			border: 2px dashed red;
			background-color: rgba($color: #ff0000, $alpha: 0.1);
			margin-top: toRem(10);
			border-radius: toRem(30);
			font-weight: 500;
		}
		&__politics-link {
			&:hover {
				cursor: pointer;
				text-decoration: underline;
			}
		}
}

._hidden {
	display: none;
}

.vacancy-check-title {
	color: #666;
}

._hidden-icon {
	display: none;
}

.save-icon {
	filter: invert(47%) sepia(23%) saturate(5429%) hue-rotate(84deg) brightness(102%) contrast(102%);
	// &:hover {
	// 	filter: invert(74%) sepia(98%) saturate(498%) hue-rotate(359deg) brightness(102%) contrast(103%);
	// }
}

.edit-icon {
	filter: invert(84%) sepia(1%) saturate(0%) hue-rotate(70deg) brightness(90%) contrast(92%);
	&:hover {
		filter: invert(74%) sepia(98%) saturate(498%) hue-rotate(359deg) brightness(102%) contrast(103%);
	}
}

.check-textarea {
	resize: none;
}

.inactive-input-container-border {
	border: 1px solid transparent;
}

.active-input-container-border {
	border: 1px solid $mainYellow;
}

.red-cross {
	margin-left: toRem(2);
	margin-right: toRem(8);
	height: toRem(16);
	width: toRem(16);
}
.green-check-mark {
	margin-right: toRem(6);
	height: toRem(20);
	width: toRem(20);
	filter: invert(45%) sepia(87%) saturate(1085%) hue-rotate(89deg) brightness(95%) contrast(106%);
}

.vacancy-mark {
	margin-right: toRem(6);
	height: toRem(20);
	width: toRem(20);
	// filter: invert(100%) sepia(73%) saturate(7499%) hue-rotate(344deg) brightness(95%) contrast(111%);
}

.vacancy-title-on-check-page {
	display: flex;
	align-items: flex-end;
}

.error-message-check-input {
	position: fixed;
	top: 0;
	z-index: 1000;
	width: 100%;
	display: flex;
	justify-content: center;
	padding: toRem(5) toRem(10);
	border: 2px dashed red;
	background-color: #ffc7c7;
	animation: errorCheckPageAnimation 0.5s ease;
}

@keyframes errorCheckPageAnimation {
	0% {
		margin-top: -100px;
	}
	100% {
		margin-top: 0px;
	}
}

.error-message-check-input-hidden {
	animation: errorCheckPageAnimationHidden 0.6s ease;
}

@keyframes errorCheckPageAnimationHidden {
	0% {
		margin-top: 0px;
	}
	100% {
		margin-top: -100px;
	}
}

._hidden-error-message {
	display: none;
}