// Заголовки, загальні БЕМ блоки та інше...
body {
	background-color: $backGroundColor;
	
}




section {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

._hidden {
	display: none;;
}

._hidden-template {
	display: none;
}

._visible-template {
	display: block;
}

.wrapper {
	
}



// Анимация кружков на фоне
.bg-one-circle-element {
	z-index: -1;
	position: absolute;
	top: 10vh;
	left: 5vw;
	background-color: $backgoundYellowCircle;
	width: 4vh;
	height: 4vh;
	border-radius: 50%;
	animation: moveAround 45s infinite;
}
.bg-two-circle-element {
	z-index: -1;
	position: absolute;
	top: 81vh;
	left: 79vw;
	background-color: $backgoundYellowCircle;
	width: 7vh;
	height: 7vh;
	border-radius: 50%;
	animation: moveAroundTwo 90s infinite;
}
.bg-three-circle-element {
	z-index: -1;
	position: absolute;
	top: 60vh;
	right: 40vw;
	background-color: $backgoundYellowCircle;
	width: 5vh;
	height: 5vh;
	border-radius: 50%;
	animation: moveAroundTwo 75s infinite;
}
.bg-four-circle-element {
	z-index: -1;
	position: absolute;
	top: 20vh;
	right: 20vw;
	background-color: $backgoundYellowCircle;
	width: 9vh;
	height: 9vh;
	border-radius: 50%;
	animation: moveAround 30s infinite;
}
.bg-five-circle-element {
	z-index: -1;
	position: absolute;
	top: 80vh;
	left: 20vw;
	background-color: $backgoundYellowCircle;
	width: 16vh;
	height: 16vh;
	border-radius: 50%;
	animation: moveAround 15s infinite;
}
.bg-six-circle-element {
	z-index: -1;
	position: absolute;
	top: 5vh;
	right: 28vh;
	background-color: $backgoundYellowCircle;
	width: 12vh;
	height: 12vh;
	border-radius: 50%;
	animation: moveAroundTwo 60s infinite;
}
.bg-seven-circle-element {
	z-index: -1;
	position: absolute;
	top: 11vh;
	right: 8vh;
	background-color: $backgoundYellowCircle;
	width: 3vh;
	height: 3vh;
	border-radius: 50%;
	animation: moveAround 40s infinite;
}
.bg-eight-circle-element {
	z-index: -1;
	position: absolute;
	top: -3vh;
	left: 11vh;
	background-color: $backgoundYellowCircle;
	width: 6vh;
	height: 6vh;
	border-radius: 50%;
	animation: moveAround 40s infinite;
}
.bg-nine-circle-element {
	z-index: -1;
	position: absolute;
	top: 27vh;
	left: -8vh;
	background-color: $backgoundYellowCircle;
	width: 11vh;
	height: 11vh;
	border-radius: 50%;
	animation: moveAround 40s infinite;
}
.bg-ten-circle-element {
	z-index: -1;
	position: absolute;
	top: 40vh;
	right: 14vh;
	background-color: $backgoundYellowCircle;
	width: 7vh;
	height: 7vh;
	border-radius: 50%;
	animation: moveAround 40s infinite;
}
.bg-eleven-circle-element {
	z-index: -1;
	position: absolute;
	top: 65vh;
	left: 1vh;
	background-color: $backgoundYellowCircle;
	width: 9vh;
	height: 9vh;
	border-radius: 50%;
	animation: moveAround 40s infinite;
}

@keyframes moveAround {
	0% {
		transform: translate(0, 0);
	}
	25% {
		transform: translate(40px, 0);
	}
	35% {
		transform: translate(40px, 20px);
	}
	50% {
		transform: translate(40px, 40px);
	}
	75% {
		transform: translate(0, 30px);
	}
	100% {
		transform: translate(0, 0);
	}
}

@keyframes moveAroundTwo {
	0% {
		transform: translate(0, 0);
	}
	25% {
		transform: translate(20px, 0);
	}
	35% {
		transform: translate(60px, 0px);
	}
	50% {
		transform: translate(30px, 20px);
	}
	75% {
		transform: translate(0, 30px);
	}
	100% {
		transform: translate(0, 0);
	}
}





.page {
	position: relative;
	height: 100%;

	// width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: toRem(20) toRem(0);
	// gap: toRem(20);
}


// Головний контейнер з контентом
.page-container {
	max-width: toRem(768);
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: toRem(10);
}

.content-width-limiter {
	max-width: toRem(500);
}

// Головний стиль заголовку
.title-main-style {
	text-align: center;
	font-size: toRem(20);
	font-weight: 600;
}

// Головний стиль тексту та підзаголовків
.subtitle-main-style {
	text-align: center;
	font-size: toRem(16);
}

// Головний стиль кнопок для вибору
.route-button-main-style {
	min-height: 41.97px;
	font-weight: 500;
	background-color: $mainYellow;
	border-radius: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	font-size: toRem(18);
	transition: all 0.3s ease 0s;
	padding: toRem(12) toRem(15);
	&:hover {
		transition: all 0.3s ease 0s;
	}
	@media (max-width: em(400)){
		font-size: toRem(16);
	}
}



// Ефект кола при наведенні
.button-effect {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.button-effect div {
  position: relative;
  transition: all .45s ease-out;
}

#circle {
	z-index: 0;
  width: 0%;
  height: 0%;

  line-height: 40px;
  border-radius: 50%;
  background: #ffc800;
  position: absolute;
  transition: all .4s ease-Out;
  top: 0px;
  left: 90px;
}

.button-effect:hover #circle {
  width: 200%;
  height: 500%;
	opacity: 1;
  top: -100px;
  left: -50px;
	z-index: 0;
}

.button-effect:hover div {
	position: relative;
	z-index: 2;
  color: #000;
}



// Головний блок з кнопками по центру
.route-buttons-block {
	max-width: toRem(500);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: toRem(10);
}

// Анімація переходів
.position-left {
	animation: fadeOut 0.3s cubic-bezier(1,-0.25,1,.71);
}

@keyframes fadeOut {
  0% {
    margin-right: 0vw;
  }
  100% {
    margin-right: 200vw;
  }
}


.position-right {
	animation: fadeIn 0.3s cubic-bezier(0,.92,.24,1.07);
}

@keyframes fadeIn {
  0% {
    margin-left: 200vw;
  }
  100% {
    margin-left: 0vw;
  }
}


.vacancy-page {
	&__content {
		font-family: $fontFamily;
		font-family: toRem(20);
	}
	&__request-button {
		width: 100%;
	}
}


// Стили формы отправки заявки
.page {
		&__post-request-vacancy-page {
		}
}
.post-request-vacancy-page {
		&__container {
		}
		&__title {
		}
		&__content {
		}
		&__request-button {
			width: 100%;
		}
}
.post-request-vacancy-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: toRem(20);
	font-size: toRem(18);

		&__radio-label {
			height: toRem(38);
			display: flex;
			justify-content: center;
			align-items: center;
			border: 1px solid rgba($color: #000000, $alpha: 0.4);
			padding: 0 toRem(15);
			border-radius: 100px;
			&:hover {
				cursor: pointer;
			}
		}
		&__form-label {
			margin-left: toRem(15);
		}
		&__form-input {
			padding: toRem(7) toRem(15);
			outline: none;
			border: 1px solid rgba($color: #000000, $alpha: 0.3);
			border-radius: 100px;
			transition: all 0.3s ease 0s;
			&:focus {
				border: 1px solid $mainYellow;
				transition: all 0.3s ease 0s;
			}
		}
		&__form-radio {
			display: none;
		}
		&__form-textarea {
			resize: none;
			padding: toRem(15) toRem(15);
			font-size: toRem(18);
			outline: none;
			border: 1px solid rgba($color: #000000, $alpha: 0.3);
			border-radius: 25px;
			&:focus {
				border: 1px solid $mainYellow;
			}
		}
		&__name-container {
			display: flex;
			flex-direction: column;
			gap: toRem(5);
		}
		&__name-label {
		}
		&__name-input {
		}

		&__age-gender-container {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: toRem(15);
		}

		&__age-container {
			display: flex;
			flex-direction: column;
			gap: toRem(5);
		}
		&__age-label {
		}
		&__age-input {
			width: auto;
		}

		&__gender-container {
			display: flex;
			flex-direction: column;
			height: 100%;
			gap: toRem(5);
		}
		&__gender-title {
			margin-left: toRem(15);
		}
		&__gender-inner-container {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: 1fr;
			grid-column-gap: 0px;
			grid-row-gap: 0px;
			gap: toRem(15);
		}
		&__gender-label {

		}
		&__gender-radio {
		}

		&__about-me-container {
			display: flex;
			flex-direction: column;
			gap: toRem(5);
		}
		&__about-me-label {
		}
		&__about-me-input {
		}

		&__wish-container {
			display: flex;
			flex-direction: column;
			gap: toRem(5);
		}
		&__wish-label {
		}
		&__wish-input {
		}

		&__kind-of-job-container {
		}
		&__kind-of-job-title {

		}
		&__kind-of-job-inner-container {

		}
		&__kind-of-job-label {
		}
		&__kind-of-job-radio {
		}
}

// Стили для валидации формы
.red-border {
	border: 1px solid $mainRed;
}

.green-border {
	border: 1px solid rgba(28, 189, 17, 1);
}