
.directions-page {
	width: 100%;
	height: 100%;
	// display: flex;
	// flex-direction: column;
	// justify-content: center;
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: toRem(20);
		width: 100%;
	}
	&__title {
	}
	&__image-container {
		max-width: toRem(240);
		height: toRem(150);
		width: 100%;
		position: relative;
		display: flex;
		justify-content: center;
		margin-bottom: -15px;
	}
	&__image-top {
		max-width: toRem(80);
		position: absolute;
		left: 0;
		top: 0;

	}
	&__image-bottom {
		max-width: toRem(170);
		position: absolute;
		bottom: 0;
		right: 0;

	}
	&__buttons-block {

	}
	&__button {
	}
}