//====================================================================================================

.page {
	&__home {
	}
}
.home-page {
	width: 100%;
	height: 100%;
	&__container {

	}
	&__title {
	}
	&__main-image {
		width: 80%;
	}
	&__subtitle {

	}
	&__buttons-block {
	}
}










//====================================================================================================
